<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.merbng.mycodelibs">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".MyCodeLibApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.TitleBarActivity" />
        <activity android:name=".activitys.TipShowActivity" />
        <activity android:name=".activitys.LogoQrCodeActivity" />
        <activity android:name=".activitys.RecyclerViewActivity" />
        <activity android:name=".activitys.SeeZoomImgActivity" />
        <activity android:name=".activitys.ZanActivity" />
        <activity android:name=".activitys.TabActivity" />
        <activity android:name=".activitys.TimeLineActivity" />
        <activity android:name=".activitys.ShineTextActivity" />
        <activity android:name=".activitys.LoadingActivity" />
        <activity android:name=".activitys.SearchActivity" />
        <activity android:name=".activitys.ToastActivity" />
        <activity android:name=".activitys.CreateCircularActivity" />
        <activity android:name=".activitys.StudyRecycleActivity" />
        <activity android:name=".activitys.TestGetConnection" />
        <activity android:name=".A_studyRetrofit.StudyRetrofitActivity" />
    </application>

</manifest>
