<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.merbng.mycodelibs">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".MyCodeLibApplication"
        android:allowBackup="true"
        android:icon="@drawable/iconfont_main"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitys.TitleBarActivity" />
        <activity android:name=".activitys.TipShowActivity" />
        <activity android:name=".activitys.LogoQrCodeActivity" />
        <activity android:name=".activitys.RecyclerViewActivity" />
        <activity android:name=".activitys.SeeZoomImgActivity" />
        <activity android:name=".activitys.ZanActivity" />
        <activity android:name=".activitys.TabActivity" />
        <activity android:name=".activitys.TimeLineActivity" />
        <activity android:name=".activitys.ShineTextActivity" />
        <activity android:name=".activitys.LoadingActivity" />
        <activity android:name=".activitys.SearchActivity" />
        <activity android:name=".activitys.ToastActivity" />
        <activity android:name=".activitys.CreateCircularActivity" />
        <activity android:name=".activitys.StudyRecycleActivity" />
        <activity android:name=".activitys.TestGetConnection" />
        <activity android:name=".activitys.BitmapCodeActivity" />
        <activity android:name=".activitys.AppMsgActivity" />
        <activity android:name=".A_studyRetrofit.StudyRetrofitActivity" />
        <activity android:name=".A_StudyProcessButton.ProcessButtonActivity" />
        <activity android:name=".A_StudyProcessButton.StateSampleActivity" />
        <activity android:name=".A_StudyProcessButton.UploadActivity" />
        <activity android:name=".A_StudyProcessButton.MessageActivity" />
        <activity android:name=".A_StudyProcessButton.SignInActivity" />
        <activity android:name=".activitys.WeixinLoginActivity" />
        <activity android:name=".activitys.QQLoginActivity" />
        <activity android:name=".activitys.TestEditTextActivity" />
        <activity android:name=".activitys.SinaLoginActivity" />
        <activity android:name=".A_ticker.TickerActivity" />
        <activity android:name=".A_ticker.PerfActivityTicker"/>
        <!-- QQ登陆 -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="1105542406" />
            </intent-filter>
        </activity>
        <!-- 新浪微博登陆 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <!-- 微信登陆 -->
        <!-- 微信回调 -->
        <activity
            android:name="com.app.merbng.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".A_recycleViewRefresh.StudyRecycleRefreshActivity"></activity>
    </application>

</manifest>